[Desktop Entry]
Type=Application
Exec=flatpak run com.rustdesk.RustDesk
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=RustDesk
Name=RustDesk
Comment[ja_JP]=
Comment=
