# Managed by chezmoi (template)
# This file will be written to ~/.config/chezmoi/chezmoi.toml

# Global config
[config]
# color = true
# pager = ""
# umask = "022"

{{- if eq .chezmoi.os "darwin" }}

# macOS: use VS Code as editor
[edit]
command = "code"
{{- end }}

# Bitwarden integration
[bitwarden]
unlock = "auto"
